<div class="py-8 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">

    <app-card-header-generic
            [title]="title"
            [subtitle]="subtitle"
            [options1]="options">
    </app-card-header-generic>

    <form [formGroup]="formParent" (click)="saveRegister()" class="w-9/12">
      <div class="space-y-12 justify-center">

        <!-- FORM PARENT -->
        <app-form-person [formPerson]="formParent"></app-form-person>

        <!-- FORM CHILDREN -->
        <app-form-children [formParentChildren]="formParent"></app-form-children>

        <!-- FORM FILMS -->
        <app-form-films [formParentFilms]="formParent"></app-form-films>

      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button [disabled]="formParent.invalid" type="submit" class="cursor-pointer rounded-md w-40 bg-gray-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          <i class="uil uil-message"></i><span class="ml-2">Save</span>
        </button>
      </div>
    </form>

    <h1 *ngIf="save" class="text-teal-400">{{formParent.value | json}}</h1>
  </div>
</div>
