<mat-sidenav-container class="static bg-slate-50">
  <mat-sidenav #menu class="bg-transparent m-5">
    <app-sidebar class="shadow-slate-600"
                (menuToggle)="menu.toggle()"
                [isAuthorized]="isAuthorized$ | async"
                (signOut)="logoutUser()">
  </app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <app-header (menuToggle)="menu.toggle()"
                  [isAuthorized]="isAuthorized$ | async"
                  (signOut)="logoutUser()">
      </app-header>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
